{deps, [
       {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}},
       {mochiweb_xpath,".*", {git, "git://github.com/retnuh/mochiweb_xpath.git", "master"}},
       {erl_csv_generator, ".*", {git, "https://github.com/manastech/erl_csv_generator.git"}},
       {erlguten, ".*",{git,"https://github.com/hwatkins/erlguten"}}
       ]
}.